body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #eef2f7; /* fundo suave */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 35px 40px;
  border-radius: 14px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
  text-align: center;
  width: 350px;
}

h2,
h3 {
  color: #1e3a8a;
}

label {
  display: block;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: bold;
  color: #1e3a8a;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #cbd5e1;
  border-radius: 6px;
  outline: none;
  margin-bottom: 10px;
  transition: 0.2s;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #1e3a8a;
}

input[type="submit"] {
  width: 100%;
  padding: 12px;
  background: #1e3a8a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 18px;
  font-weight: bold;
  transition: 0.2s;
}

input[type="submit"]:hover {
  background: #274bb5;
}

form + h3 {
  margin-top: 25px;
}

.container form:last-child input[type="submit"] {
  background: #d97706;
}

.container form:last-child input[type="submit"]:hover {
  background: #e08916;
}

/* ===== GALERIA ===== */
.galeria {
  padding: 14px 16px 40px;
}

.galeria h2 {
  color: var(--azul);
  text-align: center;
  margin: 12px 0 22px;
}

.grid {
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.evento-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

.evento-card:hover {
  transform: scale(1.03);
}

.evento-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.evento-info {
  padding: 14px;
}

.evento-info h3 {
  font-size: 18px;
  margin: 0;
  color: var(--azul);
}

.evento-info .data {
  margin-top: 6px;
  font-size: 14px;
  color: #666;
}
